---
import AnimatedBox from "./animated-box.astro"
import GithubIcon from "./icons/github-icon.astro"
import MailIcon from "./icons/mail-icon.astro"
export interface Props {
	translations: any
}

const { translations } = Astro.props
---

<header
	class="flex flex-col justify-center items-center px-6 w-full overflow-hidden relative min-h-screen backdrop-blur-xl bg-linear-to-b bg-black to-40%  border-b-2 border-blue-400"
>	
	<div class="absolute bg-blue-800 backdrop-blur-xl w-full  h-30 blur-[250px] top-0 left-0 "></div>
	<div class="meteors w-full h-full min-h-screen overflow-hidden absolute top-0 left-0">
		<div class="meteor"></div>
		<div class="meteor"></div>
		<div class="meteor"></div>
		<div class="meteor"></div>
		<div class="meteor"></div>
		<div class="meteor"></div>
	</div>
	<div class="stars w-full h-full min-h-screen overflow-hidden absolute top-0 left-0"></div>
	<div class="w-full max-w-[50em] flex flex-col z-[9999]">
		<div class="w-full">
			<h1
				class="text-[60px] font-[Onest] font-bold animate-fade-top animate-duration-700 text-center"
			>
				<span
					class="bg-clip-text text-transparent from-white to-gray-400 bg-linear-to-b text-center"
				>
					{translations.title}
				</span>
				<span> 👋 </span>
			</h1>

			<p
				class="mt-5 bg-clip-text bg-linear-to-br from-blue-400 to-blue-600 max-w-150 text-[27px] animate-duration-700 animate-fade-top m-auto text-transparent font-bold text-center"
			>
				{translations.subtitle}
			</p>
			<p
				class="mt-5 text-zinc-400 max-w-150 text-[20px] slide-in-top animate-duration-700 animate-fade-top m-auto"
			>
				{translations.text_1}
				<span
					class="text-[24px] from-yellow-500 to-yellow-300 bg-clip-text bg-linear-to-r text-transparent font-bold"
					>{translations.highlight_1}</span
				>
				{translations.text_2}
			</p>
			<div
				class="mt-10 flex max-w-[500px]:m-auto max-w-[700px]:w-full gap-3.75 animate-fade-in-right animate-duration-800 max-md:flex-col py-6.5 m-auto w-full max-w-150"
			>
				<AnimatedBox href="https://github.com/erixweb/">
					<GithubIcon width="40px" height="40px" />
					<span class="w-full p-2">Github</span>
				</AnimatedBox>
				<AnimatedBox href="mailto:erikdev.bcn@gmail.com">
					<MailIcon width="40px" height="40px" />
					<span class="w-full p-2">erikdev.bcn@gmail.com</span>
				</AnimatedBox>
			</div>
		</div>
	</div>
</header>
