---
import projects from "../../store/projects"

interface Props {
    slice: number
    language: string
}
const { slice } = Astro.props
const { language } = Astro.props
---

<section class="projects">
    {language === "es" ? <h2>Proyectos</h2> : <h2>Projectes</h2>}
    <div class="slider">
        {
            projects
                .slice(0, slice)
                .map((project) => (
                    <img
                        data-src={project.image}
                        alt={`Imagen de el proyecto ${project.name}`}
                        loading="lazy"
                    />
                ))
        }
    </div>
    {
        projects.slice(0, slice).map((project) => (
            <div class="project">
                <div class="frontimage">
                    <img
                        data-src={project.image}
                        alt={`Imagen de el proyecto ${project.name}`}
                        loading="lazy"
                    />
                </div>
                <div>
                    <h3>{project.name} &rarr;</h3>
                    <p>{project.desc}</p>
                </div>
                <div class="buttons">
                    <a href={project.url} target="_blank" rel="nofollow">
                        <img
                            data-src="/images/visit.svg"
                            alt={`Página web del proyecto ${project.name}`}
                        />
                    </a>
                    <a href={project.github} target="_blank" rel="nofollow">
                        <img
                            data-src="/images/social/github.svg"
                            alt={`Github del proyecto ${project.name}`}
                        />
                    </a>
                </div>
            </div>
        ))
    }
</section>
{
    slice == 4 ? (
        <div>
            <a href="/proyectos" class="showmore">
                {language === "es" ? "Ver más" : "Veure més"}
            </a>
        </div>
    ) : (
        ""
    )
}
