---
import projects from "../../store/projects"

interface Props {
    slice: number
    language: string
}
const { slice } = Astro.props
const { language } = Astro.props
---

<style is:inline>
    .projects {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 40px;
        margin-bottom: 40px;
        gap: 20px;
    }

    .projects a.project {
        text-decoration: none;
        color: black;
    }

    .project {
        position: relative;
        transition: 550ms;
        background-color: #ededed;

        box-shadow: 1px 1px 1px rgba(218, 218, 218, 0.485);
        padding-bottom: 16px;
        border-radius: 20px;
        max-width: 350px;
        width: 100%;
        min-height: 100%;
        height: 100%;
        margin-top: 0px;
        margin-bottom: 20px;
    }
    .project div:nth-child(1) {
        height: 180px;
    }

    .project:hover {
        box-shadow: 1px 1px 50px rgba(171, 171, 171, 0.26);
    }
    .project p,
    .project h3 {
        padding-left: 1.5vmin;
        padding-right: 1.5vmin;
        width: 100%;
        margin-left: 0px;
    }

    .project h3 {
        font-size: 24px;
    }

    .project .frontimage img,
    .project .frontimage svg {
        transition: 400ms;
        object-view-box: inset(0%);
        background-color: #415fb8;
        aspect-ratio: 16/8;
        object-fit: fill;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        height: 100%;
        width: 100%;
        max-height: 240px;
    }
    .project:hover .frontimage img {
        object-view-box: inset(10%);
    }
    .showmore {
        border-radius: 7px;
        padding: 8px;
        background-color: #1f2eff;
        text-decoration: none;
        color: white;
    }
    .slider {
        aspect-ratio: 16 / 9;
        width: 100%;
        max-width: 50rem;
        display: flex;
        position: relative;
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
    }
    .slider img {
        left: 0px;
        position: sticky;
        scroll-snap-align: start;
        max-width: 100%;
        width: 50rem;
        object-fit: cover;
        border-radius: 7px;
    }
    .projects .buttons {
        padding-left: 1em;
        padding-top: 30px;
        float: left;
    }
    .projects .buttons a {
        text-align: center;
        margin-right: 1em;
        text-decoration: none;
    }
    .project .buttons img {
        vertical-align: middle;
        width: 32px;
        height: 32px;
    }
</style>
<section class="projects">
    {language === "es" ? <h2>Proyectos</h2> : <h2>Projectes</h2>}
    <div class="slider">
        {
            projects
                .slice(0, slice)
                .map((project) => (
                    <img
                        data-src={project.image}
                        alt={`Imagen de el proyecto ${project.name}`}
                        loading="lazy"
                    />
                ))
        }
    </div>
    {
        projects.slice(0, slice).map((project) => (
            <div class="project">
                <div class="frontimage">
                    <img
                        data-src={project.image}
                        alt={`Imagen de el proyecto ${project.name}`}
                        loading="lazy"
                    />
                </div>
                <div>
                    <h3>{project.name} &rarr;</h3>
                    <p>{project.desc}</p>
                </div>
                <div class="buttons">
                    <a href={project.url} target="_blank" rel="nofollow">
                        <img
                            data-src="/images/visit.svg"
                            alt={`Página web del proyecto ${project.name}`}
                        />
                    </a>
                    <a href={project.github} target="_blank" rel="nofollow">
                        <img
                            data-src="/images/social/github.svg"
                            alt={`Github del proyecto ${project.name}`}
                        />
                    </a>
                </div>
            </div>
        ))
    }
</section>
{
    slice == 4 ? (
        <div>
            <a href="/proyectos" class="showmore">
                {language === "es" ? "Ver más" : "Veure més"}
            </a>
        </div>
    ) : (
        ""
    )
}
