---
import GithubIcon from "./icons/github-icon.astro"
import Visit from "./icons/link-icon.astro"

interface Props {
	image: string
	name: string
	github: string
	web: string
}

const { image, name, github, web } = Astro.props
---

<article class="flex md:flex-col w-full gap-[20px] card bg-slate-800/50 shadow-sm shadow-slate-700 p-[12px] rounded-[25px]">
	<div class="w-full relative">
		<img
			data-src={image}
			class="w-full max-h-[250px] object-cover rounded-[25px] z-[10] transition-all duration-[250ms] aspect-square"
			alt=`Imagen del proyecto ${name}`
		/>
		<img
			data-src={image}
			class="w-full max-h-[250px] object-cover rounded-[25px] blur-sm scale-100 -z-10 absolute top-0 left-0"
			alt=`Imagen del proyecto ${name}`
		/>
	</div>
	<div class="w-full mt-0">
		<div class="inline-flex items-center justify-center gap-[15px]">
			<h3 class="font-bold text-[25px] text-amber-200">
				{name}
			</h3>
		</div>
		<p class="mt-[10px] mb-[20px]">
			<slot />
			<div class="flex gap-[20px] w-fit ml-0">
				<a
					href={web}
					aria-label="Visit"
					target="_blank"
					class="flex justify-center items-center gap-[10px] bg-slate-800 py-[8px] px-[16px] rounded-[12px] border-[0.5px] border-slate-400 hover:scale-105 transition-all"
				>
					<Visit width="32px" height="32px" />
					Visitar
				</a>
				<a
					href={github}
					aria-label="Github"
					target="_blank"
					class="flex justify-center items-center gap-[10px] bg-slate-800 py-[8px] px-[16px] rounded-[12px] border-[0.5px] border-slate-400 hover:scale-105 transition-all"
				>
					<GithubIcon width="32px" height="32px" />
					Codi
				</a>
			</div>
		</p>
	</div>
</article>
